.idea/code-comments.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/saveactions_settings.xml
.idea/template/
.idea/vcs.xml
.idea/workspace.xml
xxdeduper/__pycache__/
