
xxdeduper/__pycache__/

/.idea/xxdeduper.iml
/.idea/misc.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/template/template_variable_settings.xml
/.idea/codeStyles/Project.xml
/.idea/dictionaries/godmin.xml
/.idea/code-comments.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/user01.xml
/.idea/encodings.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/saveactions_settings.xml
/.idea/workspace.xml
/.idea/GitLinkConfig.xml
